<h1 mat-dialog-title>
  Zamówienie nr. {{order.id_zamowienia}}
</h1>

<div mat-dialog-content *ngIf="detailList && client">
  <mat-list>
    <mat-list-item *ngFor="let detail of detailList">
      <p mat-line>Produkt: {{detail.nazwa_produktu}}</p>
      <p mat-line>Ilość: {{detail.ilosc | number : '1.0-6' : 'pl'}}kg</p>
      <p mat-line>Kwota: {{detail.cena | currency : 'PLN ' : 'symbol-narrow' : '2.2-2' : 'pl'}}</p>
    </mat-list-item>
  </mat-list>
  <mat-divider></mat-divider>
  <h3 mat-line>Zamówienie dla: {{client.nazwa_firmy | uppercase}}</h3>
  <h5 mat-line>Złożył: {{client.imie | titlecase}} {{client.nazwisko | titlecase}}</h5>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Zamknij</button>
</div>