<h1 mat-dialog-title>
  Dodaj adres
</h1>

<div mat-dialog-content [formGroup]="addressForm">
  <mat-form-field>
    <input matInput required placeholder="Adres dostawy" formControlName="adres_dostawy">
  </mat-form-field>
  <mat-form-field>
    <input (keypress)="submitByEvent($event)" matInput required placeholder="Adres płatności"
           formControlName="adres_platnosci">
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Anuluj</button>
  <button mat-button [disabled]="!addressForm.valid" (click)="submit()">Zapisz</button>
</div>
