<table [dataSource]="dataSource" class="mat-elevation-z8" mat-table matSort>
  <ng-container matColumnDef="login">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Login</th>
    <td *matCellDef="let element" mat-cell>{{element.login}}</td>
  </ng-container>
  <ng-container matColumnDef="administrator">
    <th *matHeaderCellDef mat-header-cell>Administrator</th>
    <td *matCellDef="let element" mat-cell>
      <mat-slide-toggle [checked]="element.administrator" disabled></mat-slide-toggle>
    </td>
  </ng-container>
  <tr *matHeaderRowDef="columns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: columns;" mat-row></tr>
</table>

<button mat-fab (click)="addUser()">
  <mat-icon>add</mat-icon>
</button>
