<h1 mat-dialog-title>
  Dodaj klienta
</h1>

<div mat-dialog-content [formGroup]="clientForm">
  <mat-form-field>
    <input matInput required placeholder="Imię" formControlName="imie" size="30">
  </mat-form-field>
  <mat-form-field>
    <input matInput required placeholder="Nazwisko" formControlName="nazwisko" size="30">
  </mat-form-field>
  <mat-form-field>
    <input matInput required placeholder="Nazwa firmy" formControlName="nazwa_firmy" size="120">
  </mat-form-field>
  <mat-form-field>
    <input matInput required placeholder="Numer telefonu" formControlName="numer_telefonu" size="15">
    <mat-icon matSuffix>phone</mat-icon>
  </mat-form-field>
  <mat-form-field>
    <input (keypress)="submitByEvent($event)" matInput required placeholder="Email" formControlName="email" size="50">
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Anuluj</button>
  <button mat-button [disabled]="!clientForm.valid" (click)="submit()">Dodaj</button>
</div>
