<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async) && toggleSidenav"
               class="sidenav"
               fixedInViewport="true">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/orders">Zamówienia</a>
      <a mat-list-item routerLink="/clients">Klienci</a>
      <a mat-list-item routerLink="/addresses">Adresy</a>
      <a mat-list-item routerLink="/resources">Zasoby</a>
      <a mat-list-item routerLink="/products">Produkty</a>
      <a *ngIf="loggedUser.administrator" mat-list-item routerLink="/users">Użytkownicy</a>
      <a (click)="openDictionary()" mat-list-item>Słownik</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        (click)="drawer.toggle()"
        *ngIf="(isHandset$ | async) && toggleSidenav"
        aria-label="Toggle sidenav"
        mat-icon-button
        type="button">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Huta</span>
      <button (click)="logout()" *ngIf="toggleSidenav" mat-button>Wyloguj</button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
