<mat-list role="list">
  <mat-list-item role="listitem">Au - Złoto</mat-list-item>
  <mat-list-item role="listitem">Ag - Srebro</mat-list-item>
  <mat-list-item role="listitem">Pt - Platyna</mat-list-item>
  <mat-list-item role="listitem">Pd - Pallad</mat-list-item>
  <mat-list-item role="listitem">Cu - Miedź</mat-list-item>
  <mat-list-item role="listitem">Ni - Nikiel</mat-list-item>
</mat-list>