<mat-tab-group>
  <mat-tab class="calculator" label="Produkty">
    <div class="product-row">
      <mat-selection-list #products (selectionChange)="activatePicker($event, products.selectedOptions)"
                          *ngIf="productList">
        <mat-list-option *ngFor="let product of productList" [value]="product.nazwa_produktu">
          {{product.nazwa_produktu}}
        </mat-list-option>
      </mat-selection-list>
      <div *ngIf="productPickerList" class="details-list">
        <div *ngFor="let selectedProduct of productPickerList" class="details-list-item">
          <mat-form-field>
            <input (change)="sumAll($event, selectedProduct.nazwa_produktu)"
                   [placeholder]="selectedProduct.nazwa_produktu"
                   matInput min="0"
                   step="0.1"
                   type="number">
          </mat-form-field>
          kg
        </div>
      </div>
      <div>
        <mat-list *ngIf="resourceList">
          <mat-list-item *ngFor="let resource of resourceList">
            <h4 mat-line>{{resource.nazwa_zasobu | titlecase}}</h4>
            <p *ngIf="resource.ilosc > 0; else warn" mat-line>{{resource.ilosc | number : '2.2-3' : 'pl'}}kg</p>
            <ng-template #warn>
              <mat-error>{{resource.ilosc | number : '2.0-0' : 'pl'}}kg</mat-error>
            </ng-template>
          </mat-list-item>
        </mat-list>
      </div>
    </div>

    <mat-divider></mat-divider>


  </mat-tab>

  <mat-tab label="Klient">
    <div class="client-row">
      <mat-form-field *ngIf="clientList" class="client-field">
        <mat-select (selectionChange)="loadAddresses()" [(value)]="selectedClient" placeholder="Wybierz klienta"
                    required>
          <mat-option *ngFor="let client of clientList" [value]="client.id_klienta">
            {{client.nazwa_firmy | titlecase}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button (click)="addClient()" mat-flat-button>Dodaj klienta</button>
    </div>

    <div *ngIf="addressList" class="address-row">
      <mat-form-field class="address-field">
        <mat-select [(value)]="selectedDeliveryAddress" placeholder="Adres dostawy" required>
          <mat-option *ngFor="let address of addressList" [value]="address.adres_dostawy">
            {{address.adres_dostawy | uppercase}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="address-field">
        <mat-select [(value)]="selectedPaymentAddress" placeholder="Adres płatności" required>
          <mat-option *ngFor="let address of addressList" [value]="address.adres_platnosci">
            {{address.adres_platnosci | uppercase}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button (click)="addAddress()" mat-flat-button>Dodaj adres</button>
    </div>

    <div class="info">
      <mat-form-field>
        <input
            [formControl]="paymentDate"
            [matDatepicker]="picker"
            matInput
            matTooltip="Należy wybrać datę"
            placeholder="Data płatności">
        <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>


      <mat-form-field>
        <textarea [formControl]="info" matInput maxlength="1500" placeholder="Uwagi"></textarea>
      </mat-form-field>
    </div>
    <mat-divider></mat-divider>

  </mat-tab>
</mat-tab-group>

<div class="sum">
  <mat-list>
    <mat-list-item>
      <h3 mat-line>
        {{sum | currency: 'PLN ' : 'symbol-narrow' : '2.2-2' : 'pl'}}
      </h3>
      <mat-divider></mat-divider>
      <h3 mat-line>
        {{time | number: '1.0-0' : 'pl'}}h
      </h3>
    </mat-list-item>
  </mat-list>
</div>

<button (click)="submit()" class="submit-button" mat-fab>
  <mat-icon>save</mat-icon>
</button>