/// product
.product-row {
  z-index: 1;
  display: grid;
  grid-template-columns: 50% 40% 10%;

  mat-selection-list {
    grid-column: 1/2;
  }

  .details-list {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(7, 14%);

    .details-list-item {
      margin-left: 10px;
    }
  }
}

.sum {
  position: absolute;
  left: 1%;
  bottom: 1%;
  }


/// client
.client-row {
  display: flex;

  .client-field {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 14px;
    width: calc(100% - 150px);
  }
}

.address-row {
  display: flex;

  .address-field {
    margin-left: 10px;
    margin-top: 10px;
  }
}

.info {
  .mat-form-field {
    margin-left: 10px;
  }
  padding-left: 10px;
  padding-top: 10px;
}

.submit-button {
  position: fixed;
  right: 2%;
  bottom: 2%;
}

button {
  margin-left: 10px;
}