<table [dataSource]="dataSource" class="mat-elevation-z8" mat-table matSort>
  <ng-container matColumnDef="nazwa_zasobu">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Zasób</th>
    <td *matCellDef="let element" mat-cell>{{element.nazwa_zasobu | titlecase}}</td>
  </ng-container>
  <ng-container matColumnDef="ilosc">
    <th *matHeaderCellDef mat-header-cell>Ilość</th>
    <td *matCellDef="let element" mat-cell>{{element.ilosc}}kg</td>
  </ng-container>
  <tr *matHeaderRowDef="columns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: columns;" mat-row></tr>
</table>

<button mat-fab (click)="addResources()">
  <mat-icon>add</mat-icon>
</button>
