<div class="loginContainer">
  <mat-form-field>
    <input [formControl]="loginControl" matInput placeholder="Login" required>
  </mat-form-field>
  <mat-form-field>
    <input (keypress)="submitByEvent($event)" [formControl]="passControl" [type]="hide ? 'password' : 'text'" matInput
           placeholder="Hasło" required>
    <mat-icon (click)="hide = !hide" matSuffix>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </mat-form-field>
  <button (click)="submit()" [disabled]="loading" mat-raised-button>Zaloguj</button>
</div>
