<mat-form-field *ngIf="clientList">
  <mat-select (selectionChange)="showData($event)" [(value)]="selected" placeholder="Wybierz klienta">
    <mat-option *ngFor="let client of clientList" [value]="client.id_klienta">
      {{client.imie | titlecase}}  {{client.nazwisko | titlecase}}
    </mat-option>
  </mat-select>
</mat-form-field>

<table *ngIf="selected" [dataSource]="dataSource" class="mat-elevation-z8" mat-table matSort>
  <ng-container matColumnDef="adres_dostawy">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Adres dostawy</th>
    <td *matCellDef="let element" mat-cell>{{element.adres_dostawy}}</td>
  </ng-container>
  <ng-container matColumnDef="adres_platnosci">
    <th *matHeaderCellDef mat-header-cell>Adres płatności</th>
    <td *matCellDef="let element" mat-cell>{{element.adres_platnosci}}</td>
  </ng-container>
  <tr *matHeaderRowDef="columns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: columns;" mat-row></tr>
</table>


<button mat-fab *ngIf="selected" (click)="addAddress()">
  <mat-icon>add</mat-icon>
</button>