<h1 mat-dialog-title>
  Dodaj pracownika
</h1>

<div mat-dialog-content [formGroup]="userForm">
  <mat-form-field>
    <input matInput required placeholder="Login" formControlName="login">
  </mat-form-field>
  <mat-form-field>
    <input matInput required placeholder="Hasło" formControlName="haslo">
  </mat-form-field>
  <p>Administrator?</p>
  <mat-radio-group formControlName="admin">
    <mat-radio-button value="true">Tak</mat-radio-button>
    <mat-radio-button checked value="false">Nie</mat-radio-button>
  </mat-radio-group>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Anuluj</button>
  <button mat-button [disabled]="!userForm.valid" (click)="submit()">Zapisz</button>
</div>
