<mat-form-field>
  <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Filtruj">
</mat-form-field>

<table [dataSource]="dataSource" class="mat-elevation-z8" mat-table matSort>
  <ng-container matColumnDef="id">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Id</th>
    <td *matCellDef="let element" mat-cell>{{element.id_klienta}}</td>
  </ng-container>
  <ng-container matColumnDef="imie">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Imię</th>
    <td *matCellDef="let element" mat-cell>{{element.imie}}</td>
  </ng-container>
  <ng-container matColumnDef="nazwisko">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Nazwisko</th>
    <td *matCellDef="let element" mat-cell>{{element.nazwisko}}</td>
  </ng-container>
  <ng-container matColumnDef="nazwa_firmy">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Nazwa Firmy</th>
    <td *matCellDef="let element" mat-cell>{{element.nazwa_firmy}}</td>
  </ng-container>
  <ng-container matColumnDef="numer_telefonu">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Numer Telefonu</th>
    <td *matCellDef="let element" mat-cell>{{element.numer_telefonu}}</td>
  </ng-container>
  <ng-container matColumnDef="email">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Email</th>
    <td *matCellDef="let element" mat-cell>{{element.email}}</td>
  </ng-container>
  <ng-container matColumnDef="data_rejestracji">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Data Rejestracji</th>
    <td *matCellDef="let element" mat-cell>{{element.data_rejestracji | date :'dd-MM-yyyy HH:mm'}}</td>
  </ng-container>

  <tr *matHeaderRowDef="columns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: columns;" mat-row></tr>
</table>

<button mat-fab (click)="addClient()">
  <mat-icon>add</mat-icon>
</button>
