<mat-form-field>
  <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Filtruj">
</mat-form-field>

<table [dataSource]="dataSource" class="mat-elevation-z8" mat-table matSort>
  <ng-container matColumnDef="nazwa_produktu">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Nazwa produktu</th>
    <td *matCellDef="let element" mat-cell>{{element.nazwa_produktu}}</td>
  </ng-container>
  <ng-container matColumnDef="cena">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Cena</th>
    <td *matCellDef="let element" mat-cell>{{element.cena}}zł</td>
  </ng-container>
  <ng-container matColumnDef="czas_produkcji">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Czas produkcji</th>
    <td *matCellDef="let element" mat-cell>{{element.czas_produkcji}}h</td>
  </ng-container>
  <tr *matHeaderRowDef="columns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: columns;" mat-row></tr>
</table>
