<mat-form-field>
  <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Filtruj">
</mat-form-field>

<table [dataSource]="dataSource" class="mat-elevation-z8" mat-table matSort>
  <ng-container matColumnDef="cena">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Cena ogólna</th>
    <td *matCellDef="let element" mat-cell>{{element.cena}}zł</td>
  </ng-container>
  <ng-container matColumnDef="data_dostawy">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Data dostawy</th>
    <td *matCellDef="let element" mat-cell>{{element.data_dostawy | date : 'dd.MM.yyyy'}}</td>
  </ng-container>
  <ng-container matColumnDef="adres_dostawy">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Adres dostawy</th>
    <td *matCellDef="let element" mat-cell>{{element.adres_dostawy}}</td>
  </ng-container>
  <ng-container matColumnDef="data_platnosci">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Data płatności</th>
    <td *matCellDef="let element" mat-cell>{{element.data_platnosci | date : 'dd.MM.yyyy'}}</td>
  </ng-container>
  <ng-container matColumnDef="adres_platnosci">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Adres płatności</th>
    <td *matCellDef="let element" mat-cell>{{element.adres_platnosci}}</td>
  </ng-container>
  <ng-container matColumnDef="czy_zaplacone">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Zapłacone</th>
    <td *matCellDef="let element" mat-cell>
      <mat-checkbox [checked]="element.czy_zaplacone" [disabled]="element.czy_zaplacone"
                    (change)="setPayment(element)"></mat-checkbox>
    </td>
  </ng-container>
  <ng-container matColumnDef="uwagi">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Uwagi</th>
    <td *matCellDef="let element" mat-cell>
      <p class="more-info" *ngIf="element.uwagi" (click)="showInfo(element.uwagi)">
        {{element.uwagi | slice : 0: 20}}...
      </p>
    </td>
  </ng-container>
  <ng-container matColumnDef="data_zamowienia">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Data zamówienia</th>
    <td *matCellDef="let element" mat-cell>{{element.data_zamowienia | date : 'dd.MM.yyyy'}}</td>
  </ng-container>
  <ng-container matColumnDef="szczegoly">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Szczegóły</th>
    <td *matCellDef="let element" mat-cell>
      <mat-icon (click)="showDetails(element)">description</mat-icon>
    </td>
  </ng-container>
  <tr *matHeaderRowDef="columns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: columns;" mat-row></tr>
</table>

<button mat-fab routerLink="/order">
  <mat-icon>add</mat-icon>
</button>
