table {
  width: 100%;
}

.mat-form-field {
  margin-left: 10px;
  margin-top: 10px;
  font-size: 14px;
  width: calc(100% - 15px);
}

button {
  position: fixed;
  bottom: 1%;
  right: 1%;
}

.mat-icon {
  cursor: pointer;
}

.more-info {
  cursor: pointer;
}