<h1 mat-dialog-title>
  Dodaj zasoby
</h1>

<div mat-dialog-content [formGroup]="resourceForm">
  <mat-form-field>
    <input placeholder="Miedź"
           matInput min="0"
           step="0.1"
           type="number"
           formControlName="miedz">
  </mat-form-field>
  kg
  <mat-form-field>
    <input placeholder="Nikiel"
           matInput min="0"
           step="0.1"
           type="number"
           formControlName="nikiel">
  </mat-form-field>
  kg
  <mat-form-field>
    <input placeholder="Pallad"
           matInput min="0"
           step="0.1"
           type="number"
           formControlName="pallad">
  </mat-form-field>
  kg
  <mat-form-field>
    <input placeholder="Platyna"
           matInput min="0"
           step="0.1"
           type="number"
           formControlName="platyna">
  </mat-form-field>
  kg
  <mat-form-field>
    <input placeholder="Srebro"
           matInput min="0"
           step="0.1"
           type="number"
           formControlName="srebro">
  </mat-form-field>
  kg
  <mat-form-field>
    <input placeholder="Złoto"
           matInput min="0"
           step="0.1"
           type="number"
           formControlName="zloto">
  </mat-form-field>
  kg
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Anuluj</button>
  <button mat-button (click)="submit()">Zapisz</button>
</div>